
      *{
        font-family: arial,sans-ser;
      }
      #foraCaixa{
        background-color:antiquewhite;
        width:80%;
      }
      #dentroCaixa{
        background-color:lightcoral
      }
      legend{
        font-size:30px;
        border: 1px solid black;
        border-radius: 50px;
        background-color: rgb(243, 243, 179);
      }
      input{
        border: none;
        border-radius: 50px;
        border-bottom:3px solid black;
      }
      input:focus{
        background-color:lemonchiffon;
      }
      input[type="submit"],input[type="reset"]{
        border:1px solid;
        border-radius:50px;
        padding: 5px;
        background-color: rgb(60, 187, 187);
        color: black;
      }